<meta http-equiv="Content-Type"
      content="text/html; charset=utf-8"/><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>insurance </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css" media="all">
        @import url(__PUBLIC__/css/style.css);
        @import url(__ROOT__/css/admin.css);

        img {
            behavior: url('__PUBLIC__/js/iepngfix.htc') !important;
        }
    </style>
    <script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/jquery_ui.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/wysiwyg.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/functions.js" type="text/javascript"></script>

</head>
<body>
<include file="Public:header"/>
<div class="main two"> <!-- Container -->
    <include file="Public:admin"/>
    <div class="query"> <!-- Main, right side content -->
    </div>
    <div class="start"> <!-- Content begins here -->

        <include file="Public:orderinfo" />
        <include file="Public:log" />

        <form method="post" action="{:U('Admin/discountsave')}" name="formd"><!-- Form -->
            <!-- Fieldset -->
            <fieldset>
                <legend><h2>order discount</h2></legend>

                <div class="input_field">


                </div>
                <input type="hidden" name="order_id" value="{$order_info.order_id}">


                <div class="input_field">
                    <label for="amount" style="width:150px;">Discount: </label>
                    <input class="mediumfield" name="discount" id="amount" type="text" value=""/>
                </div>

                <div class="input_field no_margin_bottom" style="padding-left:150px;">
                    <input class="submit" type="submit" value="Submit"/>
                </div>

            </fieldset>
            <!-- End of fieldset -->
        </form>

        <div class="clear"><!-- --></div>

    </div> <!-- END Content -->

</div>
<div id="footer">
    <p> All rights reserved.</p>
</div>
</div> <!-- END Container -->
<script type="text/javascript">
    $(function () {

    })
</script>
</body>
</html>