<meta http-equiv="Content-Type"
      content="text/html; charset=utf-8"/><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Baus Optical</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css" media="all">
        @import url(__PUBLIC__/css/style.css);
        @import url(__ROOT__/css/admin.css);

        img {
            behavior: url('__PUBLIC__/js/iepngfix.htc') !important;
        }

        .h1 a {
            color: #333;
        }
    </style>
    <script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/jquery_ui.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/wysiwyg.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/functions.js" type="text/javascript"></script>

</head>
<body>
<include file="Public:header"/>
<div class="main two"> <!-- Container -->
    <include file="Public:order"/>
    <!-- END Sidebar -->
    <!-- Main, right side content -->
    <div class="query">
        <!-- 筛选框 s-->
        <!--<table cellspacing="0" cellpadding="0" border="0">
            <form name="formname" method="get" action="{:U('Index/insurance')}" id="search_form">
                <input value="Home" name="m" type="hidden" />
                <input value="Finance" name="c" type="hidden" />
                <input value="insurance" name="a" type="hidden" />

            </form>
        </table>-->
    </div>
    <div class="start">
        <!-- Content begins here -->

        <!-- 筛选框 e-->
        <table cellspacing="0" cellpadding="0" border="0">
            <thead>
            <tr>
                <th>Order NO.</th>
                <th>mobile</th>
                <th>Shop</th>

                <th>Time</th>
                <th>Consignee</th>
                <th>Total Price</th>
                <th>Corporate Status</th>
                <th>insurance amount</th>

                <th>Operate</th>
            </tr>
            </thead>

            <tbody>

            <foreach name="order_lists" item="vo">
                <tr>
                    <td>{$vo.order_sn}</td>
                    <td>{$vo.mobile}</td>
                    <td><?php echo getShopNameById($vo['shop']);?></td>

                    <td>{if $vo.add_time}{$vo.add_time|date_format:'%Y-%m-%d %H:%M'}{else}-{/if}</td>
    <td></td>
                    <td>{$vo.consignee}</td>
                    <td><?php $total = unserialize($vo['receiptno']);
									echo $total['total_order_amount'];
							 ?></td>
                    <td><?php $corporate = unserialize($vo['corporate']);
									echo $total['corporate_status_set'];
							 ?></td>
                    <td><?php $corporate = unserialize($vo['corporate']);
									echo $total['corporate_amount'];
							 ?></td>
                     <td>
                         <a href="{:U('Index/deleteCustomer',array('customer_id'=>$vo['c_id']))}" class="btn"  >
                             <img src="__PUBLIC__/iconsee/delete_48.png" alt="edit" width="16"/>
                         </a>
                     </td>

                </tr>
            </foreach>

            </tbody>
        </table>

        <div class="clear"><!-- --></div>

        <div class="pagination">{$page}</div>

    </div>
    <div id="footer">
        <p> All rights reserved.</p>
    </div>
</div> <!-- END Container -->
</body>
</html>