<div class="nav">
	<ul class="on"  >
		<ol >
			<a class="" href="#">Navigation</a>

		</ol>
		<li>
			<?php if(($member_group_info['manager'] == 1) ){ ?>

			<a href="{:U('Index/viewprintTopUp')}" title=""> Top Up Payments</a>
			<?php } ?>

			<?php if(($member_group_info['manager'] == 1) || ($member_group_info['cash_confirm'] == 1)){ ?>
			<a href="{:U('index/cashConfirm',array('reverse_status'=>0))}" title="" class=""
			>Cash Confirm</a>
			<?php } ?>
			<?php if(($member_group_info['manager'] == 1) || ($member_group_info['cash_confirm'] == 1)){ ?>
			<a href="{:U('index/eft_mpesa',array('reverse_status'=>0))}" title="" class=""
			>mpesa&EFT</a>
			<?php } ?>



			<?php if(($member_group_info['manager'] == 1) || ($member_group_info['cash_confirm'] == 1)){ ?>
			<a href="{:U('Finance/insurance')}" title="" class="">Insurance  verification</a>
			<?php } ?>




		</li>
	</ul>

</div> <!-- END Navigation -->
<div class="by">
	<div class="right">
		<!--<a href="/admin/order" class="list on"></a>-->
	</div>
</div>
<script type="text/javascript">
    $(function () {
        $('.nav').find('a').each(function () {
            if($(this).attr('href')== html_decode('__SELF__')){
                $(this).addClass('on');
            }
        })
    });

</script>