<div class="header">
	<ul>
		<li class="logo">
			<a href="#"></a>
		</li>

		<li class="module">
			<a href="index.php?m=Home&c=Index&a=customer"
			   class="frist"
			>Customer</a>

			<a href="index.php?m=Home&c=Goods&a=goodsList" class="">Product</a>

			<a href="index.php?m=Home&c=Index&a=index" class="">Order</a>

			<a href="index.php?m=Home&c=Index&a=viewprintTopUp" class="">Finance</a>
			<a href="index.php?m=Home&c=Member&a=index" class="">Admin</a>
		</li>
		 <li class="account">
			Baus Optical

			 Welcome, {$Think.session.member_name}
			<a href="{:U('Login/Logout')}" >Sign Out</a>
		 </li>
	</ul>
</div>

