<div class="header"><ul>
	<li class="logo">
		<a href="/admin"></a>
	</li>

	<li class="module">
		<a href="/index.php?m=Home&c=Index&a=customer"
		   class="frist"
		>Customer</a>

		<a href="/index.php?m=Home&c=Goods&a=goodsList" class="">Product</a>

		<a href="/index.php?m=Home&c=Index&a=index" class="">Order</a>

		<a href="/index.php?m=Home&c=Index&a=viewprintTopUp" class="">Finance</a>
		<a href="/index.php?m=Home&c=Member&a=index" class="">Admin</a>
	</li>
</ul></div>

<!--Customer-->
<!--Customer-->
<!--Product-->
<!--Brand manager-->
<!--Category manager-->
<!--Goods List-->
<!--Order-->
<!--All Orders-->
<!--New Order-->
<!--Corporate-->
<!--Customer care-->
<!--WorkShop Process-->
<!--Shop Arrive Confirm-->
<!--Print Order-->
<!--Cancelled Orders-->
<!--Balance & Close-->
<!--Finance-->
<!--Top Up Payments-->
<!--Cash Confirm-->
<!--Admin-->
<!--Change password-->
<!--Member-->
<!--Member Group-->
