<fieldset>
    <legend><h2>1、totol amount </h2></legend>
    <div><?php $total = unserialize($order_info['receiptno']);
					echo $total['total_order_amount'].'KSH';
							 ?>
    </div>
</fieldset>
<fieldset>
    <legend><h2>2、Deposit</h2></legend>
    <?php  foreach($paylist as $pay){  ?>
    <b><?php  $pay['payment_method'] ?></b>
    <div class="orderinfo_label" style="width: 10%;">{$pay.payment_method}</div>
    <input class="mediumfield" name="payment_price" type="text" value="{$pay.pay_amount}" disabled style="width: 10%;"/>
    <input class="mediumfield" name="payment_remark" type="text" value="{$pay.payment_remark}"/><br>
    <?php  } ?>
</fieldset>


<fieldset>
    <legend><h2>insurance</h2></legend>
    <div>
        <?php echo $corporate['corporate_amount'].'KSH'; ?>

    </div>
</fieldset>



<fieldset>
    <legend><h2>Discount</h2></legend>
    <div>
        <?php echo $order_info['discount'].'KSH';  ?>

    </div>
</fieldset>



<fieldset>
    <legend><h2>Balance</h2></legend>
    <div>
        <?php echo $order_info['balance'].'KSH'; ?>

    </div>
</fieldset>