<fieldset>
    <legend><h2>Payment Infomation </h2></legend>
    <div>Order total :<?php $total = unserialize($order_info['receiptno']);
					echo $total['total_order_amount'].'KSH';
							 ?><br>
        Insurance:<?php echo $corporate['corporate_amount'].'KSH'; ?><br>

        Admin Discount: <?php echo $order_info['discount'].'KSH';  ?><br>
        Admin set balance:<?php echo $order_info['allow_balance'].'KSH'; ?><br>

        Payed Money:<br>
        <?php  $typelist = [1=>'Deposit',2=>'Top up',3=>'Paid Balance']; ?>

        <?php  foreach($paylist as $pay){  ?>
            &nbsp;&nbsp;&nbsp;&nbsp;<?php echo $typelist[$pay['type']]; ?> :{$pay.amount}KSH</span><br>
            <?php unset($typelist[$pay['type']]); ?>
        <?php  } ?>


        <?php  foreach($typelist as $type){ ?>
        &nbsp;&nbsp;&nbsp;&nbsp;<?php echo $type; ?> :0KSH</span><br>
        <?php } ?>

        <!--Deposit:   <?php  if(isset($paylist['1'])){
                echo $paylist[1]['amount'];
        }else{echo 0;}?> KSH<br>
        Top up:   <?php  if(isset($paylist['2'])){
                echo $paylist[2]['amount'];
        }else{echo 0;}?> KSH<br>
        Balance:   <?php  if(isset($paylist['3'])){
                echo $paylist[3]['amount'];
        }else{echo 0;}?> KSH<br>-->



        balance:<?php echo $order_info['balance'].'KSH'; ?><br>
    </div>
</fieldset>
<fieldset>
    <legend><h2>order type</h2></legend>
    <div>
        <?php if(strstr($receiptno['payment_method'],'insurance')){
            echo 'Insurance';
        }else{
            echo 'Cash';
        }   ?>
    </div>

</fieldset>
<br>



