
<div class="nav">
    <ul class="on"  >
        <ol >
            <a class="" href="#">Navigation</a>

        </ol>


        <li >

            <a href="{:U('Index/index')}" title=""  >All Order</a></span>


            <?php if(($member_group_info['manager'] == 1) || ($member_group_info['seller'] == 1)){ ?>
            <a href="{:U('Order/index')}" title=""  >New Order</a></span>

            <?php } ?>

            <?php if(($member_group_info['manager'] == 1) || ($member_group_info['corporate'] == 1)){ ?>

            <?php if($member_group_info['group_name']=='corporate_manager'){ ?>
            <a href="{:U('Index/index',array('order_step'=>4))}" title="">Corporate Confirm</a></span>
            <?php } ?>
            <!-- Check on this? -->
            <?php if($member_group_info['group_name']=='customer_care'){ ?>
            <a href="{:U('Index/index',array('order_step'=>5))}" title="">Customer Card Confirm</a></span>
            <a href="{:U('Index/index',array('order_step'=>6))}" title="">Customer Confirm</a></span>
            <?php } ?>

            <?php } ?>

            <?php if($member_group_info['internal-print']){ ?>
            <a href="{:U('Index/index',array('order_step'=>7))}" title="">Print Order</a></span>
            <?php } ?>

            <?php if(($member_group_info['manager'] == 1) ){ ?>
            <a href="{:U('Index/index',array('order_step'=>8))}" title="">WorkShop Process</a></span>
            <?php } ?>

            <?php if($member_group_info['quality'] == 1){ ?>
            <a href="{:U('Index/index',array('order_step'=>9))}" title="">Quality Process</a></span>
            <?php } ?>

            <?php if($member_group_info['quality'] == 1){ ?>
            <a href="{:U('Index/index',array('order_step'=>10))}" title=""> Waiting for shop arrive confirm</a></span>
            <?php } ?>

            <?php if(($member_group_info['manager'] == 1) || ($member_group_info['balance'] == 1)){ ?>
            <a href="{:U('Index/index',array('order_step'=>11))}" title="">Balance & Close</a></span>
            <?php } ?>


            <?php if($member_group_info['group_name']=="admin"){ ?>
            <a href="{:U('index/viewCancelledOrders')}" title="">Cancelled Orders</a></span>
            <?php } ?>
        </li>

    </ul>
</div>
<div class="by">
    <div class="right">
        <!--<a href="/admin/order" class="list on"></a>-->
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.nav').find('a').each(function () {
            if($(this).attr('href')== html_decode('__SELF__')){
                $(this).addClass('on');
            }
        })
    });

</script>
