<fieldset>
    <legend><h2>Payment Infomation </h2></legend>
    <div>Order total :<?php $total = unserialize($order_info['receiptno']);
					echo $total['total_order_amount'].'KSH';
							 ?><br>
        Insurance:<?php echo $corporate['corporate_amount'].'KSH'; ?><br>
        Deposit:<br>
        <?php  foreach($paylist as $pay){  ?>

            &nbsp;&nbsp;&nbsp;&nbsp;<span class="" style="width: 10%;">{$pay.payment_method}:{$pay.pay_amount}KSH  {$pay.payment_remark}</span><br>

        <?php  } ?>
        Discount: <?php echo $order_info['discount'].'KSH';  ?><br>
        Balance:<?php echo $order_info['balance'].'KSH'; ?><br>
    </div>
</fieldset>



