cash:<input class="cash-radio" name="cash" type="number" value="0" />
cash remark:<input class="cash-radio" name="cash_remark" type="text" value="0"/>
&nbsp;&nbsp;&nbsp;<br>
M-Pesa：	<input class="cash-radio" name="m_pesa" type="number" value="0" />
M-Pesa remark：	<input class="cash-radio" name="m_pesa_remark" type="text" />
<br>
Cheque：<input class="cash-radio" name="cheque" type="number" value="0" />
Cheque remark：<input class="cash-radio" name="cheque_remark" type="text" />

<br>
Card：<input class="cash-radio" name="card" type="number" value="0" />
Card remark：<input class="cash-radio" name="card_remark" type="text"  />
&nbsp;&nbsp;&nbsp;<br>
EFT：<input class="cash-radio" name="eft" type="number"  value="0" />
EFT remark：<input class="cash-radio" name="eft_remark" type="text" />

<br>