
<table class="table" style="width: 50%;">

    <tbody>
    <tr>

        <td>Cash:</td><td><input class="cash-radio cash" name="cash" type="number" value="0" /></td>
        <td>Cash Remark:</td><td><input class="cash-radio" name="cash_remark" type="text" value=""/></td>

    </tr>
    <tr>
        <td>
            M-Pesa：</td><td>	<input class="cash-radio cash" name="m_pesa" type="number" value="0" /></td>
        <td>M-Pesa Remark：</td><td>	<input class="cash-radio" name="m_pesa_remark" type="text" /></td>

    </tr>
    <tr>
        <td>Cheque：</td><td><input class="cash-radio cash" name="cheque" type="number" value="0" /></td>
        <td>Cheque remark：</td><td><input class="cash-radio" name="cheque_remark" type="text" /></td>

    </tr>
    <tr>
        <td>Card：</td><td><input class="cash-radio cash" name="card" type="number" value="0" /></td>
        <td>Card Remark：</td><td><input class="cash-radio" name="card_remark" type="text"  /></td>
        &nbsp;&nbsp;&nbsp;
    </tr>
    <tr>
        <td>EFT：</td><td><input class="cash-radio cash" name="eft" type="number"  value="0" /></td>
        <td>EFT Remark：</td><td><input class="cash-radio" name="eft_remark" type="text" />

    </tr>
    </tbody>
</table>











Total: <input type="text" value="" id="payed_all" readonly>
<br>
<script>
    $(function () {
        $('.cash').change(function () {
            var cash = $('input[name="cash"]').val();
            var m_pesa = $('input[name="m_pesa"]').val();
            var cheque = $('input[name="cheque"]').val();
            var card = $('input[name="card"]').val();
            var eft = $('input[name="eft"]').val();
            $('#payed_all').val(cash*1+m_pesa*1+cheque*1+card*1+eft*1)
        });

        $('input[name="m_pesa"]').change(function () {
            if($(this).val()>0){
                $('input[name="m_pesa_remark"]').prop('required',true);
            }

        });
    });

</script>