<div class="nav">
	<ul class="on"  >
		<ol >
			<a class="" href="#">Navigation</a>

		</ol>

		<li >
			<?php if(($member_group_info['manager'] == 1) || ($member_group_info['goods_manager'] == 1)){ ?>
			<a href="{:U('Goods/goodsList')}" title="">Goods List</a>
			<a href="{:U('Goods/categoryList')}" title="">Category manager</a>
			<a href="{:U('Goods/brandList')}" title="">Brand manager</a>

			<?php } ?>
		</li>

	</ul> <!-- END Navigation -->
</div>
<div class="by">
	<div class="right">
		<!--<a href="/admin/order" class="list on"></a>-->
	</div>
</div>
<include file="Public:js"/>