<meta http-equiv="Content-Type"
      content="text/html; charset=utf-8"/><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Baus Optical</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/jquery.confirm/jquery.confirm.css"/>
    <style type="text/css" media="all">
        @import url(__PUBLIC__/css/style.css);
        @import url(__ROOT__/css/admin.css);

        img {
            behavior: url('__PUBLIC__/s/iepngfix.htc') !important;
        }

        .orderinfo_label {
            display: inline-block;
            width: 30%;
            text-align: left;
        }
    </style>
    <script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/jquery_ui.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/wysiwyg.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/functions.js" type="text/javascript"></script>

</head>
<body>
<include file="Public:header"/>
<div class="main two"> <!-- Container -->
    <include file="Public:order"/>
    <div class="query"> <!-- Main, right side content -->
        <div>
            <a type="button" href="{:U('Index/printOrder',array('order_id'=>$order_info['order_id']))}" style="  font-weight:700;
    text-align: center;
    height: 21px;
    padding-top: 3px;" >Print Customer Order
            </a>
        </div>

    </div>
    <div class="start"> <!-- Content begins here -->

        <!-- step1 s-->
        <h2>1. Customer Information</h2>
        <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
            <thead>
            <tr>
                <th>Shop</th>
                <th>Customer</th>
                <th>Email</th>
                <th>Telephone</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td><?php echo getShopNameById($order_info['shop']);?></td>
                <td>{$order_info.consignee}</td>
                <td>{$order_info.email}</td>
                <td>{$order_info.mobile}</td>

            </tr>
            </tbody>
        </table>
        <!-- step1 e-->

        <!-- step2 s-->
        <h2>2. Product Information</h2>
        <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
            <thead>
            <tr>
                <th>Category</th>
                <!-- <th>NO.</th> -->
                <th>Brand</th>
                <th>Model No</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Color / Remark</th>
                <th>Subtotal</th>
            </tr>
            </thead>

            <tbody>
            <foreach name="order_goods_lists" item="vo">
                <tr>
                    <td>{:getCategoryNameById($vo['goods_cat'])}</td>
                    <!-- <td>{$vo.goods_sku}</td> -->
                    <td>{:getBrandNameById($vo['goods_brand'])}</td>
                    <td>{$vo.goods_model_no}</td>
                    <td>{$vo.goods_price}</td>
                    <td>{$vo.goods_number}</td>

                    <td>
                        <?php

								if(getAttrNameById($vo['goods_attr'])==1 || getAttrNameById($vo['goods_attr'])==2):?>

                        {$vo['goods_attr']}, {$vo['goods_remark']}

                        <?php else: ?>

                        {:getAttrNameById($vo['goods_attr'])}

                        <?php endif; ?>
                        <br/></td>
                    <td><?php echo $vo['goods_price']*$vo['goods_number']; ?></td>
                </tr>
            </foreach>
            <tr class="alt">

                <td colspan="6" align="right"></td>
                <td colspan="1"><strong>Total : </strong>{$order_info.goods_amount}</td>
            </tr>
            </tbody>
        </table> <!-- END Table -->

        <!-- step2 e-->

        <!-- step3 s-->
        <div id="show_step3">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>Lens & Prescription</h2></legend>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                    <thead>
                    <tr>
                        <th>Lens Name</th>
                        <th>Lens Price</th>
                        <th>Discount</th>
                        <th>time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{$sealstxt_info.lensname}</td>
                        <td>{$sealstxt_info.lensname}</td>
                        <td>{$sealstxt_info.discountseals}</td>
                        <td><?php if($sealstxt_info['add_time'] != '') echo date('Y-m-d H:i:s',$sealstxt_info['add_time'])?></td>
                    </tr>
                    <tr class="alt">

                        <td colspan="3" align="right">
                            Special Marks:<input class="bigfield" style="width:500px;" id="special_marks"
                                                 name="special_marks" type="text"
                                                 value="{$sealstxt_info.special_marks}"/></td>
                        <td colspan="2"><strong>Final Price : </strong><span id='final_price'>{$receiptno.total_order_amount}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>SPH</th>
                        <th>CYL</th>
                        <th>AXIS</th>
                        <th>PRISM</th>
                        <th>BASE</th>
                        <th>O.VISION</th>
                        <th>VISION</th>
                        <th>ADD</th>
                        <th>PD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Distance</td>
                        <td>R</td>
                        <td><input class="smallfield" name="sph_right" id="sph_right" type="text"
                                   value="{$distance_info.sph_right}" readonly readonly/></td>
                        <td><input class="smallfield" name="cyl_right" id="cyl_right" type="text"
                                   value="{$distance_info.cyl_right}" readonly/></td>
                        <td><input class="smallfield" name="axis_right" id="axis_right" type="text"
                                   value="{$distance_info.axis_right}" readonly/></td>
                        <td><input class="smallfield" name="prism_right" id="prism_right" type="text"
                                   value="{$distance_info.prism_right}" readonly/></td>
                        <td><input class="smallfield" name="base_right" id="base_right" type="text"
                                   value="{$distance_info.base_right}" readonly/></td>
                        <td><input class="smallfield" name="ovision_right" id="ovision_right" type="text"
                                   value="{$distance_info.ovision_right}" readonly/></td>
                        <td><input class="smallfield" name="vision_right" id="vision_right" type="text"
                                   value="{$distance_info.vision_right}" readonly/></td>
                        <td><input class="smallfield" name="add_right" id="add_right" type="text"
                                   value="{$distance_info.add_right}" readonly/></td>
                        <td><input class="smallfield" name="pd_right" id="pd_right" type="text"
                                   value="{$distance_info.pd_right}" readonly/></td>
                    </tr>
                    <tr class="alt">
                        <td>Distance</td>
                        <td>L</td>
                        <td><input class="smallfield" name="sph_left" id="sph_left" type="text"
                                   value="{$distance_info.sph_left}" readonly/></td>
                        <td><input class="smallfield" name="cyl_left" id="cyl_left" type="text"
                                   value="{$distance_info.cyl_left}" readonly/></td>
                        <td><input class="smallfield" name="axis_left" id="axis_left" type="text"
                                   value="{$distance_info.axis_left}" readonly/></td>
                        <td><input class="smallfield" name="prism_left" id="prism_left" type="text"
                                   value="{$distance_info.prism_left}" readonly/></td>
                        <td><input class="smallfield" name="base_left" id="base_left" type="text"
                                   value="{$distance_info.base_left}" readonly/></td>
                        <td><input class="smallfield" name="ovision_left" id="ovision_left" type="text"
                                   value="{$distance_info.ovision_left}" readonly/></td>
                        <td><input class="smallfield" name="vision_left" id="vision_left" type="text"
                                   value="{$distance_info.vision_left}" readonly/></td>
                        <td><input class="smallfield" name="add_left" id="add_left" type="text"
                                   value="{$distance_info.add_left}" readonly/></td>
                        <td><input class="smallfield" name="pd_left" id="pd_left" type="hidden"
                                   value="{$distance_info.pd_left}" readonly/></td>
                    </tr>

                    <tr>
                        <td colspan="5">Card NO.:<input class="mediumfield" name="cardno" id="cardno" type="text"
                                                        value="{$distance_info.cardno}" readonly/></td>
                        <td></td>
                    </tr>

                    </tbody>
                </table>
                <br/>
                Cashier: <input class="smallfield" style="width:100px;" id="cashier" name="cashier" type="text"
                                value="{$receiptno.cashier}" readonly/> Sales Person: <input class="smallfield"
                                                                                             style="width:100px;"
                                                                                             id="sales_person"
                                                                                             name="sales_person"
                                                                                             type="text"
                                                                                             value="{$receiptno.sales_person}"
                                                                                             readonly/> Optometrist:
                <input class="smallfield" style="width:100px;" id="optometrist" name="optometrist" type="text"
                       value="{$receiptno.optometrist}" readonly/>
            </fieldset>
            <fieldset>
                <?php  $typelist = [1=>'Deposit',2=>'Top up',3=>'Balance']; ?>
                <?php  foreach($paylist as $pay){  ?>
                <?php  if($pay['type']==1){?>
                <?php echo $typelist[$pay['type']].':';
                 echo $pay['amount'].'KSH';
                ?>
                <br>
                <?php } ?>
                <?php  } ?>
            </fieldset>
            <!-- End of fieldset -->

        </div>

        <!-- step3 e-->
        <div class="clear"><!-- --></div>


        <!-- step4 s-->
        <div id="show_step4">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>4, Corporate manager</h2></legend>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                    <tbody>

                    <tr>
                        <?php  if($corporate){ ?>
                        {$corporate['corporate_status_set']}
                        <br>
                        Time: <?php if($corporate['add_time'] != '') echo date('Y-m-d H:i:s',$corporate['add_time'])?>
                        <?php  } ?>

                    </tr>

                    </tbody>
                </table>
            </fieldset>
            <!-- End of fieldset -->
            </form>
        </div>

        <div class="clear"><!-- --></div>
        <!-- step4 e-->

        <!-- step5 s-->
        <div id="show_step5">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>5, Customer Insurance Card Report</h2></legend>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                    <tbody>

                    <tr>
                        <td>
                            <?php  if($customer_card){ ?>
                            <?php if($customer_card['customer_card_confirm'] == 1) echo 'Customer Swiped their Insurance Smart Card';?>
                            <?php if($customer_card['customer_card_confirm'] == 2) echo 'Customer DID NOT Swiped their Insurance Smart Card ';?>
                            <?php  echo date('Y-m-d H:i:s',$customer_card['add_time'])?>
                            <?php  } ?>

                        </td>


                    </tr>

                    </tbody>
                </table>
            </fieldset>
            <!-- End of fieldset -->
            </form>
        </div>

        <!-- step5_1 s-->
        <div id="show_step5_1">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>5, Customer Confirm</h2></legend>
                <div id="step5_6" style="height:150px;float:left;width:49.5%">
                    {$customer_confirm['less_approve_action']}
                </div>
                <div style="height:150px;float:right;width:50%">
                    <?php  $typelist = [1=>'Deposit',2=>'Top up',3=>'Balance']; ?>
                    <?php  foreach($paylist as $pay){  ?>
                    <?php  if($pay['type']==2){?>
                    <?php echo $typelist[$pay['type']].':';
                 echo $pay['amount'].'KSH';
                ?>
                    <br>
                    <?php } ?>
                    <?php  } ?>

                </div>
            </fieldset>

        </div>

        <div class="clear"><!-- --></div>
        <!-- step5_1 e-->

        <?php if($receiptno['payment_method'] == 'insurance_1' && $order_info['order_step']==6): ?>
        <div id="show_step6">

            <fieldset><h2>6, Customer Insurance Smart Card Report</h2>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                    <tr>
                        <td>
                            <?php if($receiptno['payment_method'] == 'insurance_1'): ?>
                            <b>Insurance with Smart Card</b> <br/><input name="customer_card_confirm" type="checkbox"
                                                                         value="1" <?php if($customer_card['customer_card_confirm'] == 1) echo 'checked';?>
                            /> Customer Swiped The card <br/>
                            <div class="orderinfo_label"> Insurance Smart Card Remark</div>
                            <input type="text"
                                   name="insurance_smart_card_remark" <?php if($customer_card['insurance_smart_card_remark']) {echo 'value="'.$customer_card['insurance_smart_card_remark'].'" readonly';}else{ echo 'value=""';} ?>
                            />
                            <?php endif; ?>
                        </td>
                        <td>
                            Time: <?php if($customer_card['add_time'] != '') echo date('Y-m-d H:i:s',$customer_card['add_time'])?></td>
                    </tr>
                    <tr>

                    </tr>
                    </tbody>
                </table>
            </fieldset>


        </div>
        <?php endif; ?>

        <!-- step7 s-->
        <div id="show_step7">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>7, Print</h2></legend>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                    <tbody>

                    <tr>
                        <td id="show_print_btn"><a
                                href="{:U('Index/printInternalOrder',array('order_id'=>$order_info['order_id']))}"
                                style="color:#000; font-weight:700" target="_blank">Click Here To Print Order</a></td>

                        <td>
                            Time: <?php if($print_set['add_time'] != '') echo date('Y-m-d H:i:s',$print_set['add_time'])?></td>


                        <?php if($print_set['step7_remark']):?>
                        <td>
                            {$print_set['step7_remark']}
                        </td>
                        <?php endif;?>
                    </tr>

                    </tbody>
                </table>

            </fieldset>
            <!-- End of fieldset -->

        </div>

        <div class="clear"><!-- --></div>
        <!-- step7 e-->

        <!-- step8 s-->
        <div id="show_step8">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>8, Warehouse & Workshop</h2></legend>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Stock Source</th>
                        <th>time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <?php echo $warehouse_state['warehouse_state'];  ?>

                        </td>
                        <td>
                            <?php echo $warehouse_state['warehouse_state']; ?>

                        </td>
                        <td><?php if($warehouse_state['add_time'] != '') echo date('Y-m-d H:i:s',$warehouse_state['add_time'])?></td>
                    </tr>
                    <tr>
                        <td colspan="3" align="right">  </td>
                    </tr>
                    </tbody>
                </table>
            </fieldset>
            <!-- End of fieldset -->

        </div>

        <!-- step8 e-->
        <div class="clear"><!-- --></div>

        <!-- step9 s-->
        <div id="show_step9">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>9, Quality Control</h2></legend>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->

                    <thead>
                    <tr>
                        <th>Products Shipped</th>
                        <th>time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <?php  echo $products_shipped['products_shipped']; ?>

                        </td>
                        <td><?php if($products_shipped['add_time'] != '') echo date('Y-m-d H:i:s',$products_shipped['add_time'])?></td>


                    </tr>

                    </tbody>
                </table>
            </fieldset>
            <!-- End of fieldset -->

        </div>

        <!-- step9 e-->


        <!-- step10 s-->
        <div id="show_step10">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>10, Shop Arrive</h2></legend>

                <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->

                    <thead>
                    <tr>
                        <th>Products Arrived</th>
                        <th>time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <input name="shop_arrive_set" type="radio"
                                   value="Yes" <?php if($shop_arrive['shop_arrive_set'] == 'Yes') echo 'checked';?>/>
                            Yes&nbsp;&nbsp;&nbsp;&nbsp;
                            <input name="shop_arrive_set" type="radio"
                                   value="No" <?php if($shop_arrive['shop_arrive_set'] == 'No') echo 'checked';?>/> No
                        </td>
                        <td><?php if($shop_arrive['add_time'] != '') echo date('Y-m-d H:i:s',$shop_arrive['add_time'])?></td>


                    </tr>

                    </tbody>
                </table>
            </fieldset>
            <!-- End of fieldset -->

        </div>

        <!-- step10 e-->

        <div class="clear"><!-- --></div>
        <!-- step11 s-->
        <div id="show_step11">

            <!-- Fieldset -->
            <fieldset>
                <legend><h2>11, Balance </h2></legend>

                <?php  foreach($paylist as $pay){  ?>
                <?php  if($pay['type']==3){?>
                <?php echo $typelist[$pay['type']].':';
                 echo $pay['amount'].'KSH';
                ?>
                <?php  } ?>
                <?php  } ?>
                <br/>

                <div>
                    Time: <?php if($receiptno2['add_time'] != '') echo date('Y-m-d H:i:s',$receiptno2['add_time'])?></div>


            </fieldset>
            <!-- End of fieldset -->

        </div>


        <!-- step11 e-->
        <div class="clear"><!-- --></div>

    </div> <!-- END Content -->

</div>
<div id="footer">
    <p> All rights reserved.</p>
</div>
</div> <!-- END Container -->


</body>
</html>
