<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>Baus Optical</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/jquery.confirm/jquery.confirm.css" />
    <style type="text/css" media="all">
        @import url(__PUBLIC__/css/style.css);@import url(__ROOT__/css/admin.css);
        img {behavior:url('j__PUBLIC__/s/iepngfix.htc') !important;}

        .orderinfo_label{
            display: inline-block;
            width: 30%;
            text-align: left;
        }
    </style>
    <script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/jquery_ui.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/wysiwyg.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/functions.js" type="text/javascript"></script>

</head>
<body>
<include file="Public:header" />	<div class="main two"> <!-- Container -->
    <include file="Public:order" />
    <div class="query"> <!-- Main, right side content -->

    </div>
    <div class="start"> <!-- Content begins here -->

        <!-- step1 s-->
        <h2>1. Customer Information</h2>
        <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
            <thead>
            <tr>
                <th>Shop</th>
                <th>Customer</th>
                <th>Email</th>
                <th>Telephone</th>
            </tr>
            </thead><tbody>                    <tr >

                <td><?php echo getShopNameById($order_info['shop']);?></td>
                <td>{$order_info.consignee}</td>
                <td>{$order_info.email}</td>
                <td>{$order_info.mobile}</td>
            </tr>
            </tbody>
        </table>
        <!-- step1 e-->

        <!-- step2 s-->
        <h2>2. Product Information</h2>
        <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
            <thead>
            <tr>
                <th>Category</th>
                <!-- <th>NO.</th> -->
                <th>Brand</th>
                <th>Model No</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Color / Remark</th>
                <th>Subtotal</th>
            </tr>
            </thead>

            <tbody>
            <foreach name="order_goods_lists" item="vo">
                <tr >
                    <td>{:getCategoryNameById($vo['goods_cat'])}</td>
                    <!-- <td>{$vo.goods_sku}</td> -->
                    <td>{:getBrandNameById($vo['goods_brand'])}</td>
                    <td>{$vo.goods_model_no}</td>
                    <td>{$vo.goods_price}</td>
                    <td>{$vo.goods_number}</td>

                    <td>
                        <?php

								if(getAttrNameById($vo['goods_attr'])==1 || getAttrNameById($vo['goods_attr'])==2):?>

                        {$vo['goods_attr']}, {$vo['goods_remark']}

                        <?php else: ?>

                        {:getAttrNameById($vo['goods_attr'])}

                        <?php endif; ?>
                        <br /></td>
                    <td><?php echo $vo['goods_price']*$vo['goods_number']; ?></td>
                </tr>
            </foreach>
            <tr class="alt">

                <td colspan="6" align="right"></td>
                <td colspan="1"><strong>Total : </strong>{$order_info.goods_amount}</td>
            </tr>
            </tbody>
        </table> <!-- END Table -->

        <!-- step2 e-->

        <!-- step3 s-->
        <div id="show_step3">
            <form method="post" action="{:U('Index/orderProcess')}" name="formd" id="form_step3"><!-- Form -->
                <!-- Fieldset -->
                <fieldset><legend><h2>Lens & Prescription</h2></legend>

                    <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                        <thead>
                        <tr>
                            <th>Lens Name</th>
                            <th>Lens Price</th>
                            <th>Discount</th>
                            <th>time</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td><input class="mediumfield" name="lensname" type="text" value="{$sealstxt_info.lensname}" /></td>
                            <td><input class="mediumfield" id="lensprice" name="lensprice" type="text" value="{$sealstxt_info.lensprice}"/></td>
                            <td><input class="mediumfield" id="discountseals" name="discountseals" type="text" value="{$sealstxt_info.discountseals}" /></td>
                            <td><?php if($sealstxt_info['add_time'] != '') echo date('Y-m-d H:i:s',$sealstxt_info['add_time'])?></td>
                        </tr>
                        <tr class="alt">

                            <td colspan="3" align="right">
                                Special Marks:<input class="bigfield" style="width:500px;" id="special_marks" name="special_marks" type="text" value="{$sealstxt_info.special_marks}" /></td>
                            <td colspan="2"><strong>Final Price : </strong><span id='final_price'></span></td>
                        </tr>
                        </tbody>
                    </table>

                    <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>SPH</th>
                            <th>CYL</th>
                            <th>AXIS</th>
                            <th>PRISM</th>
                            <th>BASE</th>
                            <th>O.VISION</th>
                            <th>VISION</th>
                            <th>ADD</th>
                            <th>PD</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td>Distance</td>
                            <td>R</td>
                            <td><input class="smallfield" name="sph_right" id="sph_right" type="text" value="{$distance_info.sph_right}" /></td>
                            <td><input class="smallfield" name="cyl_right"  id="cyl_right" type="text" value="{$distance_info.cyl_right}" /></td>
                            <td><input class="smallfield" name="axis_right"   id="axis_right"  type="text" value="{$distance_info.axis_right}" /></td>
                            <td><input class="smallfield" name="prism_right"  id="prism_right" type="text" value="{$distance_info.prism_right}" /></td>
                            <td><input class="smallfield" name="base_right"   id="base_right" type="text" value="{$distance_info.base_right}" /></td>
                            <td><input class="smallfield" name="ovision_right"  id="ovision_right" type="text" value="{$distance_info.ovision_right}" /></td>
                            <td><input class="smallfield" name="vision_right"  id="vision_right" type="text"  value="{$distance_info.vision_right}" /></td>
                            <td><input class="smallfield" name="add_right"  id="add_right"  type="text" value="{$distance_info.add_right}" /></td>
                            <td><input class="smallfield" name="pd_right"  id="pd_right"  type="text" value="{$distance_info.pd_right}" /></td>
                        </tr>
                        <tr class="alt">
                            <td>Distance</td>
                            <td>L</td>
                            <td><input class="smallfield" name="sph_left"  id="sph_left"  type="text" value="{$distance_info.sph_left}" /></td>
                            <td><input class="smallfield" name="cyl_left"  id="cyl_left"  type="text" value="{$distance_info.cyl_left}" /></td>
                            <td><input class="smallfield" name="axis_left"  id="axis_left"  type="text" value="{$distance_info.axis_left}" /></td>
                            <td><input class="smallfield" name="prism_left"  id="prism_left"  type="text" value="{$distance_info.prism_left}" /></td>
                            <td><input class="smallfield" name="base_left"  id="base_left"  type="text" value="{$distance_info.base_left}" /></td>
                            <td><input class="smallfield" name="ovision_left"  id="ovision_left"  type="text" value="{$distance_info.ovision_left}" /></td>
                            <td><input class="smallfield" name="vision_left"  id="vision_left"  type="text" value="{$distance_info.vision_left}" /></td>
                            <td><input class="smallfield" name="add_left"  id="add_left"  type="text" value="{$distance_info.add_left}" /></td>
                            <td><input class="smallfield" name="pd_left"  id="pd_left"  type="hidden" value="{$distance_info.pd_left}" /></td>
                        </tr>

                        <tr>
                            <td colspan="5">Card NO.:<input class="mediumfield" name="cardno"  id="cardno"  type="text" value="{$distance_info.cardno}" /></td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                    <br />
                    Cashier: <input class="smallfield" style="width:100px;" id="cashier" name="cashier" type="text" value="{$receiptno.cashier}" />
                    Sales Person: <input class="smallfield" style="width:100px;" id="sales_person" name="sales_person" type="text" value="{$receiptno.sales_person}" />
                    Optometrist: <input class="smallfield" style="width:100px;" id="optometrist" name="optometrist" type="text" value="{$receiptno.optometrist}" />
                </fieldset>
                <fieldset><legend><h2>3. Deposit</h2></legend>
                    <div style="height:150px;float:left;width:100%">

                        Payment method:<br /><br />

                        <?php if($receiptno['payment_method'] == 'insurance_0'): ?>
                        <b>Insurance without Smart Card</b>, from <input class="mediumfield" id="insurancetext" name="insurancetext" type="text" value="{$receiptno.insurancetext}" />
                        <?php elseif($receiptno['payment_method'] == 'insurance_1'): ?>
                        <b>Insurance with Smart Card</b>, from <input class="mediumfield" id="insurancetext" name="insurancetext" type="text" value="{$receiptno.insurancetext}" />
                        <?php else: ?>
                        <?php  foreach($paylist as $pay){  ?>
                        <b><?php  $pay['payment_method'] ?></b>
                        <div class="orderinfo_label" style="width: 5%;">{$pay.payment_method}</div>
                        <input class="mediumfield" name="payment_price" type="text" value="{$pay.pay_amount}" />
                        <input class="mediumfield" name="payment_price" type="text" value="{$pay.payment_remark}" /><br>
                        <?php  } ?>

                        <?php endif; ?>

                        <br /><br />
                    </div>

                    <div style="height:150px;float:left;width:49.5%" id="show_print_order">
                        <?php if($receiptno['add_time'] != '') echo date('Y-m-d H:i:s',$receiptno['add_time'])?> <br />
                        <a href="{:U('Index/printOrder',array('order_id'=>$order_info['order_id']))}" style="color:#000; font-weight:700" target="_blank">Click Here To Print Customer Order</a>
                    </div>
                </fieldset>
                <!-- End of fieldset -->

            </form>
        </div>
        <script>
            $(function(){
                var final_price = {$order_info.goods_amount} + parseFloat($('#lensprice').val()) - parseFloat($('#discountseals').val());
                $('#final_price').html(final_price);

                $('#lensprice,#discountseals').change(function(){
                    final_price = {$order_info.goods_amount} + parseFloat($('#lensprice').val()) - parseFloat($('#discountseals').val());
                    $('#final_price').html(final_price);
                })
            })
        </script>


        <script type="text/javascript">
            $(function(){
                if($("#payment_price").val() != '')
                {
                    var price = parseFloat($("#final_price").html()) - parseFloat($("#payment_price").val());
                }else{
                    var price = parseFloat($("#final_price").html());
                }

                $("#nopayment_price").val(price);

                if("{$receiptno.payment_method}" == "insurance_1" || "{$receiptno.payment_method}" == "insurance_0")
                {

                    $("#insurancetext").css('display','');
                    $("#show_step4,#show_step5,#show_step5_1").css('display','');
                }else{
                    $("#insurancetext").css('display','none');
                    $("#show_step4,#show_step5,#show_step5_1").css('display','none');
                }

                $("#payment_price").change(function(){
                    var price = parseFloat($("#final_price").html()) - parseFloat($("#payment_price").val());
                    $("#nopayment_price").val(price);
                });
                /* ==== NOT NECESSAY NOW ==== */
                $('input:radio[name="payment_method"]').change(function(){
                    var p_method = $('input:radio[name="payment_method"]:checked').val();
                    if(p_method == "insurance")
                    {
                        $("#insurancetext").css('display','');
                        $("#show_step4,#show_step5,#show_step5_1").css('display','');
                    }else{
                        $("#insurancetext").css('display','none');
                        $("#show_step4,#show_step5,#show_step5_1").css('display','none');
                    }
                })
            })
        </script>
        <script type="text/javascript">
            $(function(){
                <?php if(($order_info['order_step'] > 3) || ($member_group_info['seller'] != 1)){ ?>
                    $('#form_step3').find('input').attr('readonly','true');
                    $('#form_step3').find('.submit').css('display','none');
                <?php } ?>

                <?php if($member_group_info['seller'] != 1):?>
                $('#show_print_order').hide();
                <?php endif;?>
            })
        </script>
        <!-- step3 e-->

        <div class="clear"><!-- --></div>

        <!-- step4 e-->


        <div class="clear"><!-- --></div>
        <!-- step5_1 e-->

        <?php if($receiptno['payment_method'] == 'insurance_1' && $order_info['order_step']==6): ?>
        <div id="show_step6">
            <form method="POST" action="{:U('Index/orderProcess')}">
                <fieldset><h2>6, Customer Insurance Smart Card Report</h2>
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                        <tr>
                            <td>
                                <?php if($receiptno['payment_method'] == 'insurance_1'): ?>
                                <b>Insurance with Smart Card</b> <br /><input name="customer_card_confirm" type="checkbox" value="1" <?php if($customer_card['customer_card_confirm'] == 1) echo 'checked';?>/> Customer Swiped The card <br />
                                <div class="orderinfo_label"> Insurance Smart Card Remark</div> <input type="text" name="insurance_smart_card_remark" <?php if($customer_card['insurance_smart_card_remark']) {echo 'value="'.$customer_card['insurance_smart_card_remark'].'" readonly';}else{ echo 'value=""';} ?> />
                                <?php endif; ?>
                            </td>
                            <td>Time: <?php if($customer_card['add_time'] != '') echo date('Y-m-d H:i:s',$customer_card['add_time'])?></td>
                        </tr>
                        <tr>
                            <td><input type="hidden" name="order_id" value="{$order_info.order_id}" /><input type="hidden" name="step_name" value="edit_customer_card_less" /><input class="submit" type="submit" value="Submit" /></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>

            </form>
        </div>
        <?php endif; ?>

        <!-- step7 s-->
        <div id="show_step7">
            <form method="post" action="{:U('Index/orderProcess')}" name="formd" id="form_step7"><!-- Form -->
                <!-- Fieldset -->
                <fieldset><legend><h2>7, Print</h2></legend>

                    <table cellspacing="0" cellpadding="0" border="0"><!-- Table -->
                        <tbody>

                        <tr >
                            <td id="show_print_btn"><a href="{:U('Index/printInternalOrder',array('order_id'=>$order_info['order_id']))}" style="color:#000; font-weight:700" target="_blank">Click Here To Print Order</a></td>
                            <td>Complete Print <br />

                                <input name="print_confirm" type="radio" value="1" <?php if($print_set['print_confirm'] == 1) echo 'checked';?>/>

                                YES <br />

                                <input name="print_confirm" type="radio" value="2" <?php if($print_set['print_confirm'] == 2) echo 'checked';?>/>
                                Waiting for Personal Frame <br />

                                <input name="print_confirm" type="radio" value="3" <?php if($print_set['print_confirm'] == 3) echo 'checked';?>/>
                                Waiting for Personal Lens <br />

                                <input name="print_confirm" type="radio" value="4" <?php if($print_set['print_confirm'] == 4) echo 'checked';?>/>
                                On Hold<br />


                            </td>
                            <td>Time: <?php if($print_set['add_time'] != '') echo date('Y-m-d H:i:s',$print_set['add_time'])?></td>

                            <?php if(!$print_set['print_confirm']):?>
                            <td>
                                <input  type="hidden" name="order_id" value="{$order_info.order_id}" />
                                <input  type="hidden" name="step_name" value="editprint" />
                                <input class="submit" type="submit" value="submit" />
                            </td>
                            <?php elseif($print_set['print_confirm'] && $print_set['print_confirm']!=1): ?>
                            <td>
                                <a style="color:#000; font-weight:700" href="{:U('Index/moveToNext',array('order_id'=>$order_info['order_id']))}">Move to Next Step</a>
                            </td>
                            <?php endif; ?>
                            <?php if($print_set['step7_remark']):?>
                            <td>
                                {$print_set['step7_remark']}
                            </td>
                            <?php endif;?>
                        </tr>

                        </tbody></table>

                </fieldset>
                <!-- End of fieldset -->
            </form>
        </div>
        <script type="text/javascript"> /* !!!!!! NOT SHOWING IF SHOP ATTENDANT/ BRANCH GUY !!!!!!*/
        $(function(){
            <?php if(($order_info['order_step'] != 7) || ($member_group_info['internal-print'] != 1) ){ ?>
                $('#form_step7').find('input').attr('readonly','true');
                $('#form_step7').find('.submit').css('display','none');
                $('#show_print_btn').css('display','none');
            <?php } ?>
        })
        </script>
        <div class="clear"><!-- --></div>

        <!-- step11 s-->
        <div id="show_step11">
            <form method="post" action="{:U('Index/orderProcess')}" name="formd" id="form_step11"><!-- Form -->
                <!-- Fieldset -->
                <fieldset><legend><h2>11, Balance & Close Order</h2></legend>

                    <?php if($balance_remaining>0 && $order_info['order_step']==11):?>
                    This order has a balance: <input name="final_bal" value="{$balance_remaining}" type="text" readonly /> <br />
                    <a href="{:U('Index/printBalance',array('order_id'=>$order_info['order_id'],'cash_id'=>$cash_id))}" style="color:#000; font-weight:700" target="_blank">Click Here To Print Current Balance Receipt</a><br /><br />
                    Please select the payment method<br />
                    <input name="order_status_set" type="hidden" value="balance-cleared-closed" />
                    <div id="balance_pay">
                        <include file="Public:paymethod" />
                    </div>

                    <?php elseif($balance_remaining==0 && $order_info['order_step']==11): ?>
                    <a href="{:U('Index/printBalance',array('order_id'=>$order_info['order_id'],'cash_id'=>$cash_id))}" style="color:#000; font-weight:700" target="_blank">Click Here To Print Current Balance</a><br />
                    <!--This Order has no balance and can be closed-->
                    <!--<input name="order_status_set" type="radio" value="no-balance" />-->
                    The Order has no balance and can be finish
                    <input name="order_status_set" type="radio" value="no-balance" />
                    <?php elseif($order_info['order_step']==12): ?>
                    The Order has been closed <a href="{:U('Index/printBalance',array('order_id'=>$order_info['order_id'],'cash_id'=>$cash_id))}" style="color:#000; font-weight:700" target="_blank">Click Here To Print Current Balance</a>
                    <?php elseif($order_info['order_step']==13): ?>
                    The Order has been finished! <a href="{:U('Index/printBalance',array('order_id'=>$order_info['order_id'],'cash_id'=>$cash_id))}" style="color:#000; font-weight:700" target="_blank">Click Here To Print Current Balance</a>
                    <?php endif; ?>
                    <br />

                    <div>Time: <?php if($receiptno2['add_time'] != '') echo date('Y-m-d H:i:s',$receiptno2['add_time'])?></div>
                    <input  type="hidden" name="order_id" value="{$order_info.order_id}" /><input  type="hidden" name="step_name" value="editorderstatus" /><input class="submit" type="submit" value="Submit" />

                </fieldset>
                <!-- End of fieldset -->
            </form>
        </div>

        <script type="text/javascript">
            $(function(){
                <?php if(($order_info['order_step'] != 11)||($member_group_info['balance'] != 1)){ ?>
                    $('#form_step11').find('input').attr('readonly','true');
                    $('#form_step11').find('.submit').css('display','none');
                <?php } ?>
            })
        </script>
        <!-- step11 e-->
        <div class="clear"><!-- --></div>

    </div> <!-- END Content -->


    <div id="footer">
        <p> All rights reserved.</p>
    </div>
</div> <!-- END Container -->


<script type="text/javascript">
    $(document).ready(function(){

        $('.less_approve_pay').hide();
        $('#approve_action').hide();


        $('#less_approve').change(function(){
            //alert('Value change to ' + $(this).attr('value'));
            if($(this).attr('value')=='top_up' || $(this).attr('value')=='change_goods'){
                $('.less_approve_pay').show();
                $('#approve_action').show();
            }else{
                $('.less_approve_pay').hide();
                $('#approve_action').show();
            }

            if($(this).attr('value')==-1){
                $('#approve_action').hide();
            }
        })
    });

    // If Less Approval or proceed from insurance, hide step5 else show it
    $(function(){
        <?php if($corporate['corporate_status_set']=='less approval'){ ?>
            $('#show_step5').hide();
            $('#show_step5_1').show();// For less approval
        <?php } else if($corporate['corporate_status_set']=='proceed') { ?>
            $('#show_step5').show(); // For Proceed
            $('#show_step5_1').hide();
        <?php }else{ ?>
            $('#show_step5').hide(); //hide as it is a cash order
            $('#show_step5_1').hide();
        <?php } ?>
    })

    // For Step5, hide buttons ....group name condition may change
    $(function(){
        <?php if(($order_info['order_step'] != 5)||($member_group_info['corporate'] != 1) || ($member_group_info['group_name']=='corporate_manager')){ ?>
            $('#form_step5').find('input').attr('readonly','true');
            $('#form_step5').find('.submit').css('display','none');
        <?php } ?>
    })

    // For Step5_1 hide buttons ....group name condition may change
    $(function(){
        <?php if(($order_info['order_step'] != 5)||($member_group_info['corporate'] != 1) || ($member_group_info['group_name']=='corporate_manager') ) { ?>
            $('#form_step5_1').find('input').attr('readonly','true');
            $('#form_step5_1').find('.submit').css('display','none');
            $('#step5_6').hide();
        <?php } ?>

    });

    //If proceed with no smart card hide step5
    $(function(){
        <?php if(($order_info['order_step'] == 7) && ($receiptno['payment_method'] == 'insurance_0')){ ?>
            $('#show_step5').hide();
        <?php } ?>

    });

    //Also check: on change of less approve select tag, check if balance is zero
    $('#recevied_amount').change(function(){

        var recevied_amount = $('input:text[name="recevied_amount"]').val();
        var corporate_amount = $('input:text[name="corporate_amount"]').val();

        var balance_remaining = corporate_amount - recevied_amount;

        console.log(balance_remaining);

        if(isNaN(balance_remaining)){
            $('#approve_action').hide();
            $('input:text[name="balance_remaining"]').val("Balance can only be digits")
        }else{
            $('#approve_action').show();
            $('input:text[name="balance_remaining"]').val(balance_remaining);
        }
    });
</script>

</body>
</html>
